*{
    background-color: black;
    color:white;
    font-size: 50px;
    font-weight: bolder;
}

.num{
    margin-left: 80px;
    font-size: 40px;
}

#inc{
    color:royalblue;
}

#dec{
    color:royalblue;
}