*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

#pic{
    background-color: white;
    height:200px;
    width:150px;
    border-radius:10px;
}

#pic img{
    height:100%;
    width:100%;
    object-fit: cover;
}